{% extends "base.html" %}


{% block title %}
    ONLINE SHOP
{% endblock %}

{% block content %}

  <div class="container py-3">
    {% for product in data %}
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">{{ product.name }}</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">{{ product.cost }}<small class="text-muted fw-light">$</small></h1>
              <p>{{ product.description }}</p>
              <a href="/buy/{{ product.id }}" class="w-100 btn btn-lg btn-outline-primary">Buy</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}